
body {
font-family: 'Alegreya Sans', sans-serif;
    background-color: #363636;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    background-color: white;
}

input[type=text], input[type=email] ,input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.add_btn {
    background-color: #339966;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.add_btn:hover {
    opacity: 1;
}

/* Chrome, Opera, Safari */
::-webkit-input-placeholder {
  font-style: italic;
}

/* Firefox 19+ */
::-moz-placeholder {
  font-style: italic;
}

/* IE 10+ */
:-ms-input-placeholder {
  font-style: italic;
}

/* Firefox 18- */
:-moz-placeholder {
  font-style: italic;
}
.mess{
    margin-bottom: 5px;
}